<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/abhis/IdeaProjects/TestNGFrameworkUnify/src/main/java/testNG_Homework_1/TestCase_1.java">
        <classes>
            <class name="testNG_Homework_1.TestCase_1">
                <methods>
                    <include name="openBrowser"/>
                    <include name="Register"/>
                    <include name="login"/>
                    <include name="logout"/>
                    <include name="closeBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>